#quote_details.postbox .inside {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

#quote_details.postbox .inside p.quote-p {
    width: 45%;
        margin: 0;
        margin-bottom: 0px;
        margin-bottom: 10px;
        color: #000;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 1.9;
}

#quote_details.postbox .inside p.quote-item-title {
    width: 100%;
    font-size: 14px;
    color: #000;
}

#quote_details.postbox .inside p.quote-p label {
border-radius: 0;
    display: grid;
}

#quote_details.postbox .inside p.quote-p label input {
    border-radius: 0;
}

#quote_details.postbox .inside #quote-items {
    display: flex;
    flex-wrap: wrap;
}
#quote_details.postbox #quote-items p {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 8px 0;
}
#quote_details.postbox #quote-items p input {
    width: 49%;
    border-radius: 0px;
}

#quote_details.postbox #quote-items .add-btn-item {
border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 6px 18px;
    box-sizing: unset;
    border: 1px solid #000;
    background-color: blue;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#quote_details.postbox .inside .quote-result {
    width: 100%;
}

#quote_details.postbox .inside p.quote-total-cost {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
}